
/*=============== CUSTOM PROPERTIES ===============*/
:root{
    --green-dark:#003c2f;
    --green:#22ad01;
    --green-light:#2bb90a;
    --light-gray:#65816d;
    --light-black:#4c4d5f;
    --white:#fff;
    --white-dark:#ecf1ec;
    --yellow:#f8db62;
    --border:1px solid rgba(76, 77, 95, 0.2);
    --orange:#ee8146;
    /* utilities, border radius etc, box shadow etc */
    --box--shadow:0 0 8px rgba(0,0,0,0.3);
    --border-radius-sm:0.6rem;
    --border-radius-medium:1.2rem;
    --border-radius-large:6rem
    
}
    /*=============== GLOBALS ===============*/
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

ul{
    padding: 0;
    list-style: none;
}

a{text-decoration: none;}

img{
    max-width: 100%;
    vertical-align: top;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #fafafa;
    overflow-x: hidden;
    min-height: 100vh;
}

/*=============== STYLES GENERALS ===============*/
.container-center-large{
    width: 95%;
    max-width: 145rem;
    margin: 0 auto;
}

.container-center-medium{
    width: 90%;
    max-width: 115rem;
    margin: 0 auto;
}

/* HEADER STYLES */

.header{
    border-bottom: var(--border);
    position: sticky;
    z-index: 1;
    top: 0;
    min-height: 100%;
    background-color: var(--white);
}
/* position items with flex */
.header__container--flex{
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
}

.nav-bar, .login{
    font-size: 1.5rem;
}

/* header bar styles */
.nav-bar{
    display: flex;
    gap: 6rem;
    align-items: center;
    margin: 1rem 0;
}
/* nav items styles */
.nav{
    display: flex;
    gap: 3rem;
}

.nav__a{
    color: var(--light-black);
    transition: 0.2s ease-in-out;
}

.nav__a:hover{
    color: var(--green);
}

/* font weight  for two containers, login and header bar */
.login, .nav-bar{
    font-weight: 500;
}

/* login styles */

.login{
    display: flex;
    gap: 2rem;
    align-items: center;
}

/* button styles  general*/

.button{
    padding: 1rem 1.8rem;
    /* border: 1px solid red; */
    border-radius: 3rem;
    transition: 0.2s ease-in-out;
}

/* modified color of button on login */
.button--green{
    background-color: var(--green);
    color: var(--white);
    font-size: 1.5rem;
}

.button--green:hover{
    background-color:var(--green-light);
    color: var(--white);
}

/*=============== SECOND NAVBAR ===============*/

.nav-bar--2{
    gap: 3rem;
    font-weight: 500;
}

.nav__a--opacity{
    opacity: 0.6;
}

.nav__a--opacity:hover{
    opacity: 1;
    color: var(--light-black);
}

/*=============== MAIN STYLES ===============*/

/* section cards styles */
.thumb__text{
    text-align: center;
}

.thumb__h1{
    font-size: 6rem;
    max-width: 60%;
    margin: 2rem auto 4.5rem auto;
    color: var(--green-dark);
}

/* switch styles */
.switch{
    font-weight: 500;
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
/* switch links styles */
.switch__a{
    color: var(--green-dark);
}

/* adding padding and color to first switch */
.switch__a--padding{
    padding:1.5rem 3rem ;
    background-color: var(--green-dark);
    color: var(--white);
    border-radius: 3rem;
}

/* styles of switch span on 2 month free */
.switch__span{
    font-size: 1rem;
    font-weight: bold;
    color: var(--green-light);
    /* border:1px solid black; */
    padding: 0.4rem 1rem;
    border-radius:var(--border-radius-large) ;
}

/*=============== CARD STYLES ===============*/

/* container of card */
.cards{
    display: flex;
    gap:3rem;
    justify-content: space-evenly;
    margin-top: 6rem;
}

/* CARDS ITEMS */

.cards__article{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;
    background-color: var(--white);
    /* border: 1px solid red; */
    font-size: 1.5rem;
    font-weight: 500;
    padding: 2rem;
    overflow: hidden;
    border-radius:var(--border-radius-sm);
    box-shadow: var(--box--shadow);
}

/* cards prices block */
.cards__prices{
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    text-align: center;
    align-items: center;
    padding-top: 4rem;
    padding-bottom: 2rem;
    border-bottom: var(--border);
}

/* card select container styles block*/
.select{
    position: relative;
    padding:3.5rem 0.7rem 0.7rem;
    border-radius: 2rem;
    display: flex;
    align-items: center;/*for align texts*/
    flex-direction: column;
    gap: 1rem;
}

/* select on this moment color */
.select--color{
    background-color: var(--orange);
}
.select__text{
    color: var(--white);
    font-size: 1.4rem;
    position: absolute;
    top: 1rem;
  
}

/*card  title and prices font size */
.cards__h2, .cards__number{
    font-size: 3.6rem;
    color: var(--green-dark);
}

/* MODIFIED BUTTON CARDS MORE PADDING */

.button--padding{
    padding: 1.5rem 6rem;
}

/* font size of symbol of dollar and month text */
.cards__symbol{
    font-size: 2rem;
}
.cards__month{
    font-size:1.7rem ;
}

/* opacity on month text */
.cards__month--opacity{
    opacity: 0.5;
}

/*CARD BONUS BLOCK*/

.cards__bonus{
    margin:1.5rem 0;
}

/* card adventages styles on flex for icon and text side by side */
.card__adventages{
    display: flex;
    align-items: center;
    gap: 2rem;
    margin:2rem 0;
 }

 /* ICON CHECKED */
.card__icon{
    font-size: 1.2rem;
    color: var(--green-light);
}

/* modified icon for first two bonus */
.card__icon--big{
    font-size: 3rem;
}

/* TEXT INTO ADVENTAGES BLOCK */
.card__text{
    color: var(--green-dark);
}
/* bold for card 2 and 3 */
.card__text--bold{
    font-weight: 700;
}

/* card text flex for some items */
.card__text--flex{
    display: flex;
    flex-direction: column;
}

/* GRAY FOR SOME TEXTS OF DESIGN */
.card__color--gray{
    color: var(--light-gray);
}

/* align self button on bottom for fix stretch default */
.button--alignself{
    align-self: center;
}

/*=============== ADDONS SECTION, CARDS STYLES COLLABORATORS, PARTNERS, TAXES ===============*/

/* spacing on top */
.margin-section{
    margin-top: 15rem;
    margin-bottom: 10rem;
}

/* styling and position cards */
.addons__cards{
    display: flex;
    justify-content: space-evenly;
    gap: 4rem;
}

/* addons articles styles */
.addons__article{
    display: flex;/*flex for align price items with align self*/
    flex-direction: column;
    padding: 5rem 3rem 2rem;
    min-height: 35rem;
    border: var(--border);
    border-radius: var(--border-radius-medium);
}

/* ADDONS TEXTS SIZE */
.section__title{
    font-size: 4.2rem;
}

.addons__h2{
    text-align: center;
    margin: 7rem 0;
}

.addons__h3{
    font-size: 2.2rem;
    margin-bottom: 1.5rem;
}

.addons__h3--price{
    font-size: 3rem;
    align-self: flex-end;
    margin-top: auto;
}

.addons__p, .addons__a{
    font-size:1.6rem;
    font-weight: 500;
   
}

/* card 3 learn more */
.addons__a{
    margin-top: 1.5rem;
    color: var(--green);
    padding-bottom: 0.5rem;
    position: relative;
    align-self: flex-start;
    overflow: hidden;
}

.addons__a::after{
    content: '';
    width: 100%;
    height: 2px;
    position: absolute;
    background-color: var(--green);
    bottom: 0;
    left: 0;
    transition: 0.4s ease-in-out;
}

.addons__a:hover.addons__a::after{
    transform: translateX(100%);
}

/* SECTION TEXT COLORS */
.section__title, .addons__h3, .support__h3{
    color: var(--green-dark);
}

/*=============== QUESTIONS STYLES ===============*/

.questions{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 5rem;
    position: relative;/*contain image*/
}
/* title styles */

.h2__questions{
    margin-bottom: 10rem;
}

/* position on absolute for image, overflow hidden x on body for fix horizontal scroll */
.questions__figure{
    position: absolute;
    right: -45rem;
    z-index: -1;
}

/* questions container styles */

.questions__container{
    padding: 2rem 3rem;
}

/* questions blocks */

.questions__ul{
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    gap: 3rem;
}

.questions__li{
    border-bottom: var(--border);
}

.questions__a{
    display:flex;
    justify-content: space-between;
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 2rem;
    color: var(--green-dark);
}

/* information for scroll-down styles */

.questions__p{
    font-size: 1.5rem;
    font-weight: 400;
    width: 100%;
    line-height: 1.3;
    min-height: 0;
    max-height: 0;
    overflow: hidden;
    margin-bottom: 1rem;
    transition:  0.2s ease-in-out;
}

/* question icon */
.questions__icon{
    color: var(--green-light);
    font-size: 2.5rem;
    font-weight: 700;
    transition: 0.4s ease-in-out;
}

/* styles of icon  on focus*/
.questions__a:focus .questions__icon{
    transform: rotate(180deg);
}


/* styles of height on focus */
.questions__a:focus ~ .questions__p{
    min-height: 15rem;
    max-height: auto;
}

.questions__a:focus ~ .questions__p--height{
    min-height: 5rem;
    max-height: auto;
}

/* fixing item 3 don't need so much height */


/*=============== REVIEWS STYLES ===============*/

.reviews__h2{
    text-align: center;
}

/* points styles */

.points{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:3rem 0;
    gap: 7rem;
}

/* DIVIDER OF IMAGES ON POINTS SECTION WITH A BEFORE */
.points__divider::before{
    content: '';
    width: 1px;
    min-height: 100%;
    border-right: var(--border);
    font-size: 6rem;
}

/* FEED BACK BLOCK STYLES */
.feedback{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.feedback__item{
    font-size: 2rem;
    margin-top: 1.5rem;
    padding: 1.5rem;
    border-radius: var(--border-radius-sm);
    background-color: var(--white-dark);
    font-weight: 700;
    color: var(--green-dark);
}

.feedback__span{
    color: var(--light-gray);
}

/*=============== SUPPORT STYLES ===============*/

.support{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.support__figure, .support__items{
    width: calc(90% / 2);
    align-self: center;
}

/* support items styles */
.support__items{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5rem;
    
}
/* support article styles */
.support__article{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 2rem 0;
}
/* first item border */
.support__article--border{
    border-bottom: var(--border);
}

.support__h3{
    font-size: 3rem;
}

.support__description{
    font-size: 1.8rem;
}

.button--alignleft{
    align-self:flex-start;
}

/*=============== BANNER FREE TRIAL ===============*/
.banner{
    display: flex;
    padding: 3rem;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    min-height: 25rem;
    border-radius: var(--border-radius-large);
    background-image: url(../img/banner.png);
    background-color: var(--green-dark);
    background-repeat: no-repeat;
}

.banner__h3{
    text-align: center;
    font-weight: 400;
    color: var(--white);
    font-size: 3.6rem;
}

/*=============== FOOTER STYLES ===============*/

.footer{
    margin-bottom: 0; /*reseting margin bottom*/
    padding-bottom: 2rem;
}

.footer__services{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5rem;
    border-bottom: var(--border);
    
}
/* a bit margin on logo of footer */
.footer__figure{
    margin-bottom: 5rem;
}

/* FOOTER TITLES STYLES */
.footer__span{
    display: block;
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--green-dark);
}

.footer__span--margintop{
    margin-top: 1rem;
}

/* FOOTER UL STYLES, THIS CONTAIN LINKS OF FOOTER */
.footer__ul{
    display: flex;
    margin:2rem 0;
    flex-direction: column;
    gap: 1rem;
}

.footer__li{
    font-size: 1.3rem;
    font-weight: 500;
}

.footer__li--margin{
    margin-top: 2rem;
}

/* FOOTER ARROW DOWN ITEMS */
.nav__a--flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* FOOTER SOCIALS BLOCK */

.footer__socials{
    padding: 3rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.socials__links{
    font-size:2rem;
    display: flex;
    gap: 2rem;
}

.footer__a{
    width: 4rem;
    height: 4rem;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: var(--green-light);
    border-radius: 50%;
}

/* copyright on right side of block */

.footer__copyright{
    display: flex;
    font-size: 1.5rem;
}

.copyright__p--opacity{
    opacity: 0.4;
}
/* copyright on bottom */
.copyright__p--size{
    font-size: 1.3rem;
}

/*=============== MEDIA QUERIES ===============*/
@media screen and (max-width: 1150px){

     /*== toggle pure css frenquently questions == */
     .questions__a:focus ~ .questions__p{
        min-height: 20rem;
        max-height: auto;
    }
    /* modified height on phones */
    .questions__a:focus ~ .questions__p--height{
        min-height: 12rem;
        max-height: auto;
    }
}

/* 1024px */
@media screen and (max-width: 1024px){
    /* static header again */
    .header{
        position: static;
    }
    /* NAV BAR */
    .header__container--flex, .nav-bar{
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        flex-wrap: wrap;
    }

    /* thumb styles */
    .thumb__h1{
        max-width: 90%;
        font-size: 4.6rem;
    }
    /* addons cards wrap  for jump cards to bottom */
    .cards,.addons__cards{
        flex-wrap: wrap;
    }


}

/* 850px */
@media screen and (max-width: 850px){
    /* one column now */
    .questions{
        grid-template-columns: 1fr;
    }
    /* hidden the image for -850px */
    .questions__figure{
        visibility: hidden;
    }
     /* customer support styles */
    .support{
        justify-content: center;
    }
    .support__figure, .support__items{
        width: 100%;
    }
    /* margin on buttons learn more and start for free */
    .addons__a, .button--alignleft{
        margin: 2.5rem auto;
    }
    
}

/* 724px */
@media screen and (max-width: 724px){

    /* list of services on footer */
    .footer__services{
        grid-template-columns: 1fr;
        gap: 1rem;
    }
    
}

/* 524px */
@media screen and (max-width: 524px){

    /* changing nav style */
    .nav{
        flex-direction: column;
        
    }

    /* points styles//trustpilot, g2*/
    .points{
        gap: 3rem;
    }

    /* banner get started 7 days free */
    .banner__h3{
        font-size: 2.5rem;
    }
   
    /* footer socials */
    .footer__socials{
        flex-direction: column;
    }
    .socials__links{
        margin-bottom: 4rem;
    }
}